<style>
#info {
    font-size:12px;
}
h4 {
    border:1px solid white;
    background-color: highlight;
    font-weight:bold;
}

.desc {
    border:1px dotted #efefef;
    margin-left: 20px;
    background-color: #efefef;
}

.params {
    border:1px dotted #efefef;
    margin-left: 20px;
    margin-top: 10px;
}

.return {
    margin-left: 20px;
    margin-top: 10px;
    background-color: #efefef;
}

.paraminfo {
    display: block;
    margin-left: 40px;

}

.returninfo {

}

.details {
    width: 600px;
}
</style>
<div id="info">
    <h1>MTA API Documentation</h1>

    <h3>available services:</h3>

    <ul>
        <li><a href="/docs/soap">SOAP</a></li>
        <li><a href="/docs/rest">REST</a></li>
        <li><a href="/docs/xmlrpc">XML-RPC</a></li>
        <li><a href="/docs/jsonrpc">JSON-RPC</a></li>
    </ul>

    
    
</div>