<style>
#info {
    font-size:12px;
}
h4 {
    border:1px solid white;
    background-color: highlight;
    font-weight:bold;
}

.desc {
    border:1px dotted #efefef;
    margin-left: 20px;
    background-color: #efefef;
}

.params {
    border:1px dotted #efefef;
    margin-left: 20px;
    margin-top: 10px;
}

.return {
    margin-left: 20px;
    margin-top: 10px;
    background-color: #efefef;
}

.paraminfo {
    display: block;
    margin-left: 40px;

}

.returninfo {

}

.details {
    width: 600px;
}
</style>
<div id="info">
    <h1>MTA API Documentation</h1>

    <h3>available services:</h3>

    <ul>
        <li><a href="/docs/soap">SOAP</a></li>
        <li><a href="/docs/rest">REST</a></li>
        <li><a href="/docs/xmlrpc">XML-RPC</a></li>
        <li><a href="/docs/jsonrpc">JSON-RPC</a></li>
    </ul>

    <h3>SOAP</h3>
    <div class="details">some information on using the SOAP server, example code maybe</div>
    <div class="details">
    <?php
    foreach ($this->methods as $method) {
        $methodname = $method->getName();
        if (substr($methodname, 0, 2) !== '__') {
            echo '<h4>'.$methodname.'( ';
            $parameters = array();
            $params = $method->getParameters();
            foreach($params as $params) {
                $parameters[] = (string) $params->getName();
            }
            echo implode(", ", $parameters);
            echo ' ) </h4>';
            echo '<div class="desc">'.$method->getDocblock()->getShortDescription().'</div>';
            $tags = $method->getDocblock()->getTags();
            $paraminfo = array();
            $returninfo = '';
            foreach ($tags as $tag) {
                if ($tag->getName() == 'param') {
                    $paraminfo[] =  $tag->getVariableName(). ' ('.$tag->getType().'): '.$tag->getDescription();
                } elseif ($tag->getName() == 'return') {
                    $returninfo = $tag->getType().' '.$tag->getDescription();
                }
            }
            echo '<div class="params">Parameters: <span class="paraminfo">';
            echo implode('</span><span class="paraminfo">',$paraminfo);
            echo '</span></div>';

            echo '<div class="return">Returns: <span class="returninfo">';
            echo $returninfo;
            echo '</span></div>';
        }
    }
    ?>
    </div>


</div>