<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/dojo.xd.js" type="text/javascript"></script>
    <script type="text/javascript">
        dojo.require('dojo.rpc.JsonService');
        var proxy;
        function setup() {
            proxy = new dojo.rpc.JsonService('http://zfws/JSONRPCdojo.php');
        }

        function getData() {
            inputvalue = document.getElementById('productid').value;
            var result = proxy.getStockFigures(inputvalue).addCallback(print);
        }

        function print(result) {
            //alert(result);
            node = dojo.byId("result");
            node.innerHTML = result;
        }
        
        dojo.addOnLoad(setup);
    </script>

</head>
<body>
<div id="welcome">
    <h1>A Dojo test with JSON-RPC</h1>
    Available stock: <div id="result"></div>
    For product with id: <input type="text" id="productid" value="1" />
    <button onclick="getData();">Get the data</button> You can try 1, 2 and 3 for different results.
</div>
</body>
</html>