<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script type="text/javascript" src="/js/jquery-1.3.min.js"></script>
    <script type="text/javascript" src="/js/json2.js"></script>
    <script type="text/javascript" src="/js/jquery.zend.jsonrpc.js"></script>
    <script type="text/javascript">
        
    </script>
</head>
<body>
<div id="welcome">
    <h1>A jQuery test with JSON-RPC</h1>
    Available stock: <div id="result"></div>
    For product with id: <input type="text" id="productid" value="1" />
    <button onclick="getData();">Get the data</button> You can try 1, 2 and 3 for different results.
</div>
<script type="text/javascript">
    function getData() {
        proxy = jQuery.Zend.jsonrpc({url: '/JSONRPCbis.php'});
        inputvalue = document.getElementById('productid').value;
        result = proxy.getStockFigures(inputvalue);
        $('#result').text(result);
    }
</script>
</body>
</html>